@charset "UTF-8";

@font-face {
    font-family: Quicksand;
    src: url("Quicksand-Regular.woff") format("woff"), url("Quicksand-Regular.ttf") format("truetype");
}

html {
    background-color: hsl(27, 72%, 72%);
}

body {
    color: rgb(91, 91, 91);
    background-color: ivory;
    font-family: Verdana, Geneva, sans-serif;
}

h1, h2 {
    font-family: Quicksand, Verdana, Geneva, sans-serif;
}

article#about_tss h1 {
    color: white;
    background-color: rgb(222, 128, 60);
}

article#about_tss h2 {
    color: white;
    background-color: rgb(235, 177, 131);
}

article.syllabus h1, article.syllabus h2 {
    color: rgb(101, 101, 101);
    background-color: rgb(255, 185, 255);
}

aside blockquote {
    color: rgb(232, 165, 116);
}
